.player0 {
    color: #ff8080
}

.player1 {
    color: #8090ff
}

.player2 {
    color: #80ff80
}

.player3 {
    color: #ffff80
}

.player4 {
    color: #90a0b0
}

.player5 {
    color: #ff80ff
}

.player6 {
    color: #ffc800
}

.player7 {
    color: #c0c800
}

.player8 {
    color: #80c800
}

.player9 {
    color: #8090c0
}

.player10 {
    color: #80c0c0
}

.player11 {
    color: #c800c0
}

.player12 {
    color: #c80800
}

.player13 {
    color: #c0c0ff
}

.player14 {
    color: #ffc0ff
}

.player15 {
    color: #ffc0c0
}

.player16 {
    color: #ffa800
}

.player17 {
    color: #c800ff
}

.player18 {
    color: #80ffc0
}

.player19 {
    color: #ffa800
}

.player20 {
    color: #c0ff80
}

.player21 {
    color: #ff80c0
}

.player22 {
    color: #a0a0c0
}

.player23 {
    color: #c0a0a0
}

.player24 {
    color: #ffe0c0
}

.player25 {
    color: #ffffc0
}

.player26 {
    color: #c0c0a0
}

.player27 {
    color: #a0c0a0
}

.player28 {
    color: #c800a0
}

.player29 {
    color: #ffe800
}

.player30 {
    color: #ffffff
}

.player31 {
    color: #c0c0c0
}
