<ul class="nav nav-pills">
    <li role="presentation">
        <button ng-class="{true: 'btn btn-success', false: 'btn btn-primary'}[data.addServerMenuTab === 'saved']" ng-click="openAddServer('saved')"><span class="glyphicon glyphicon-hdd"></span> Saved Servers</button>
    </li>
    <li role="presentation">
        <button ng-class="{true: 'btn btn-success', false: 'btn btn-primary'}[data.addServerMenuTab === 'server']" ng-click="openAddServer('server')"><span class="glyphicon glyphicon-wrench"></span> Server Options</button>
    </li>
    <li role="presentation">
        <button ng-class="{true: 'btn btn-success', false: 'btn btn-primary'}[data.addServerMenuTab === 'game']" ng-click="openAddServer('game')"><span class="glyphicon glyphicon-th-list"></span> Game Options</button>
    </li>
    <li role="presentation">
        <button ng-class="{true: 'btn btn-success', false: 'btn btn-primary'}[data.addServerMenuTab === 'allowed']" ng-click="openAddServer('allowed')"><span class="glyphicon glyphicon-ok"></span> Allowed Objects</button>
    </li>
    <li role="presentation">
        <button ng-class="{true: 'btn btn-success', false: 'btn btn-primary'}[data.addServerMenuTab === 'modifications']" ng-click="openAddServer('modifications')"><span class="glyphicon glyphicon-tasks"></span> Modifications</button>
    </li>
    <li role="presentation">
        <button ng-class="{true: 'btn btn-success', false: 'btn btn-primary'}[data.addServerMenuTab === 'launch']" ng-click="openAddServer('launch')"><span class="glyphicon glyphicon-share"></span> Launch Server</button>
    </li>
</ul><br />
<add-server-saved ng-if="data.addServerMenuTab === 'saved'"></add-server-saved>
<add-server-server ng-if="data.addServerMenuTab === 'server'"></add-server-server>
<add-server-game ng-if="data.addServerMenuTab === 'game'"></add-server-game>
<add-server-allowed ng-if="data.addServerMenuTab === 'allowed'"></add-server-allowed>
<add-server-modifications ng-if="data.addServerMenuTab === 'modifications'"></add-server-modifications>
<add-server-launch ng-if="data.addServerMenuTab === 'launch'"></add-server-launch>
