<ul class="nav nav-pills">
    <li role="presentation">
        <button class="btn btn-success"><span class="glyphicon glyphicon-hdd"></span> Saved Servers</button>
    </li>
    <li role="presentation">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span> Server Options</button>
    </li>
    <li role="presentation">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-th-list"></span> Game Options</button>
    </li>
    <li role="presentation">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Allowed Objects</button>
    </li>
    <li role="presentation">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-tasks"></span> Modifications</button>
    </li>
    <li role="presentation">
        <button class="btn btn-primary"><span class="glyphicon glyphicon-share"></span> Launch Server</button>
    </li>
</ul>
