<ul class="nav nav-pills">
    <li role="presentation">
        <button ng-class="{true: 'btn btn-success', false: 'btn btn-primary'}[data.dashboardMenuTab === 'current']" ng-click="openDashboard('current')"><span class="glyphicon glyphicon-play"></span> Current Games</button>
    </li>
    <li role="presentation">
        <button ng-class="{true: 'btn btn-success', false: 'btn btn-primary'}[data.dashboardMenuTab === 'past']" ng-click="openDashboard('past')"><span class="glyphicon glyphicon-list-alt"></span> Past Games</button>
    </li>
</ul><br/>
<dashboard-current ng-if="data.dashboardMenuTab === 'current'"></dashboard-current>
<dashboard-past ng-if="data.dashboardMenuTab === 'past'"></dashboard-past>
