<h1 class="text-center">There was an error communicating with the server.</h1>
<h3>Please contact <a href="mailto:roncli@roncli.com">roncli</a> with the following information:</h3>
<h3>{{error}}</h3>
You may try to refresh this page.  If you continue to have problems, visit <a href="http://localhost:20920/quit">http://localhost:20920/quit</a> to shut down the application.