<li role="presentation">
    <button id="server-scoreboard" class="btn btn-primary"><span class="glyphicon glyphicon-dashboard"></span> Scoreboard</button>
</li>
<li role="presentation">
    <button id="server-log" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Log</button>
</li>
<li role="presentation">
    <button id="server-console" class="btn btn-primary"><span class="glyphicon glyphicon-console"></span> Console</button>
</li>
<li role="presentation">
    <button id="server-settings" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Settings</button>
</li>
