<li role="presentation">
    <button id="settings-descent3" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span> Descent 3</button>
</li>
<li role="presentation">
    <button id="settings-modifications" class="btn btn-primary"><span class="glyphicon glyphicon-tasks"></span> Modifications</button>
</li>
