<li role="presentation">
    <button id="dashboard-currentgames" class="btn btn-primary"><span class="glyphicon glyphicon-play"></span> Current Games</button>
</li>
<li role="presentation">
    <button id="dashboard-currentgames" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span> Past Games</button>
</li>
