<li role="presentation">
    <button id="dashboard" class="btn btn-primary"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</button>
</li>
{{#each tabs}}
    {{partial "server-tab"}}
{{/each}}
<li role="presentation">
    <button id="addserver" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Server</button>
</li>
<li role="presentation">
    <button id="settings" class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Settings</button>
</li>
